<div>
  <h1>Offer Submission Form</h1>
  <form action="/file"
    class="dropzone"
    id="my-awesome-dropzone">
    <div class="fallback">
      <input name="file" type="file" />
    </div>
  </form>
  <form #offerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <!-- {{offerForm.value | json}} -->
  <!-- {{offerModel | json}} -->
  <div class="form-group">
    <label>Offer</label>
    <input
    type="text"
    required
    #name="ngModel"
    [class.is-invalid]="name.invalid && name.touched"
    class="form-control"
    name="name"
    [(ngModel)]="offerModel.name"
    />
    <small class="text-danger" [class.d-none]="name.valid || name.untouched"
      >offer is required</small
      >
  </div>
  <!-- {{offer.valid}} -->
  <div class="form-group">
    <label>Description</label>
    <textarea
    rows="5"
    required
    #description="ngModel"
    [class.is-invalid]="description.invalid && description.touched"
    class="form-control"
    name="description"
    [(ngModel)]="offerModel.description"
    ></textarea>
    <small
      class="text-danger"
      [class.d-none]="description.valid || description.untouched"
      >description is required</small
      >
  </div>
  <div class="form-group">
    <label>Offer Type</label>
    <select
      class="form-control"
      (change)="onKindSelected($event.target.value)"
      >
      <option value="item">Item</option>
      <option value="service">Service</option>
    </select>
  </div>
  <br>
  <div>
    <button
      [disabled]="offerForm.form.invalid"
      type="submit"
      class="btn btn-primary"
      (click)="goBack()"
      >
    Submit Offer
    </button>
  </div>
  </form>
</div>

