<div>
  <h1>Offer Submission Form</h1>
  <dropzone
    [config]="config"
    [message]="'Click or drag images here to upload'"
    (error)="onUploadError($event)"
    (success)="onUploadSuccess($event)"
  ></dropzone>

  <form #offerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label>Offer</label>
      <input
        type="text"
        required
        #name="ngModel"
        [class.is-invalid]="name.invalid && name.touched"
        class="form-control"
        name="name"
        [(ngModel)]="offerModel.name"
      />
      <small class="text-danger" [class.d-none]="name.valid || name.untouched"
        >offer is required</small
      >
    </div>
    <!-- {{offer.valid}} -->
    <div class="form-group">
      <label>Description</label>
      <textarea
        rows="5"
        required
        #description="ngModel"
        [class.is-invalid]="description.invalid && description.touched"
        class="form-control"
        name="description"
        [(ngModel)]="offerModel.description"
      ></textarea>
      <small
        class="text-danger"
        [class.d-none]="description.valid || description.untouched"
        >description is required</small
      >
    </div>
    <div class="form-group">
      <label>Offer Type</label>
      <select
        class="form-control"
        (change)="onKindSelected($event.target.value)"
      >
        <option value="item">Item</option>
        <option value="service">Service</option>
      </select>
    </div>
    <br />
    <div>
      <button
        [disabled]="offerForm.form.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Submit Offer
      </button>
    </div>
  </form>
</div>
