
<div class="jumbotron" style="background-color: #ffb899; color: white;">
  <h1 class="display-4" >Thank you for accepting the offer of {{ acceptedOffer.name }} on your {{ auction.name }} auction !</h1>
  <p class="lead"> The user has been notified regarding this.</p>
  <hr class="my-4">
  <p>Your auction is now closed.</p>
  <p>To see other auctions near you click the link below</p>
  <a routerLinkActive="active" id="btn" routerLink="/home" class="btn btn-primary btn-lg" href="#" role="button">click here!</a>
</div>
