
<div class="jumbotron" id="frontpg">
  <div> <h1 routerLink="/home">Welcome to Better Barter!</h1></div>

  <div id="frnt-text">
    <div>

      <p>At Better Barter, we're dedicated to creating a more friendly community everywhere and everywhere by facilitating the old art of bartering! Here, you can offer old items or your work with others in your area, allowing you to exchange goods without any money involved!</p>
      <p>  A little archaic, a little unconventional, but wholly better for bringing people together.</p>

    </div>

  </div>

</div>

<div class="jumbotron" id="frontpg">
  <h1 >Make an Auction</h1>
  <p>...</p>
  <button class="btn btn-outline-primary" type="button" routerLink="/signup">sign up first tho</button>
</div>

<div class="jumbotron" id="frontpg">
  <h1>See other Auctions</h1>
  <p>...</p>
  <button class="btn btn-outline-primary" type="button" routerLink="/home">do it i dare u!!!!</button>
</div>



<div class="jumbotron" id="frontpg">
 <h2> Meet up!!!! Have fun!!! Reduce ur Carbon foot print! Lil foot!!!! </h2>
  <p>...</p>

</div>


