
<div class="jumbotron" id="frontpg">
  <img src="logo_w.png" width="300" height="300" alt=""/>
  <div id="frnt-text">
    <div> 
      <h1 routerLink="/home">Welcome to</h1>
      <h1 routerLink="/home" id="logotxt">BettrBartr</h1> 
    </div>
    <div> 
      <p></p> 
      <p>At Better Barter, we're dedicated to creating a more friendly community everywhere and everywhere by facilitating the old art of bartering! Here, you can offer old items or your work with others in your area, allowing you to exchange goods without any money involved!</p>
      <p>A little archaic, a little unconventional, but wholly better for bringing people together.</p>
    </div>
  </div>
</div>

<div class="jumbotron" id="frontpg-2">
  <div><h1 id="logotxt">
    Start Auctions,
    <br>
    Make Offers </h1>
  </div>
  <div id="ftpg-2-2">  
    <button class="btn btn-outline-primary" type="button" routerLink="/auction" id="ftpg2-btn">Create</button>
    <p></p>
    <button class="btn btn-outline-primary" type="button" routerLink="/home"  id="ftpg2-btn">Browse</button></div>
</div>

<div class="jumbotron" id="frontpg-3">
  <div> <img
    src="broom.png"
    width="200"
    height="200"
    class="d-inline-block align-top"
    class="d-inline-block align-top"
    alt=""
    id="symbol"/>   
  </div>

  <div>  
    <img
      src="product.png"
      width="200"
      height="200"
      class="d-inline-block align-top"
      class="d-inline-block align-top"
      alt=""
      id="symbol"/>
  </div>

  <div>  
    <h3 id="h3txt">Recycle Old Items,</h3>
    <h3 id="h3txt">Or Offer Freelance Services!</h3>
  </div>

  <p>...</p>

</div>



<div class="jumbotron" id="frontpg">
  <img src="bb.png"/>
    <div>
      <h1  id="logotxt">Barter,</h1>
      <h1  id="logotxt">Better!</h1>
    </div>
</div>


