<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="image">Image</label>
    <input type='text' formControlName='image' id="image" class="form-control"
    >
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      id="name"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      class="form-control"
      required
    />
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input
      type="text"
      formControlName="location"
      id="city"
      class="form-control"
      required
    />
  </div>
  <div id="signupBtn">
    <button type="button" class="btn btn-primary" (click)="this.findMe()">
      Find Location
    </button>
    &nbsp;
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!userForm.valid"
      (click)="onSubmit()"
    >
      Create Account
    </button>
  </div>
</form>
