
<h3 style="font-family: Fredoka One, cursive;;   color: #ffb899">Sign Up</h3>
<br>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      id="name"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input
      type="text"
      formControlName="phoneNumber"
      id="phoneNumber"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      class="form-control"
      required
    />
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input
      type="text"
      formControlName="location"
      id="address"
      class="form-control"
      required
    />
  </div>
  <div id="signupBtn">
    <button id="btn" type="button" class="btn btn-primary" (click)="this.findMe()">
      <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
        {{ searchButtonText }}
    </button>

    &nbsp;
    <br>
    <button id="btn"
      type="submit"
      class="btn btn-outline-primary"
      [disabled]="!userForm.valid"
    >
      Sign Up
    </button>
  </div>
</form>
