<div class="header">

  <h1 id="welcome">    Welcome, {{ user.name }}!   </h1>


    <div class="jumbotron" id="frontpg">
      <div id="utility">
        <h3>Active Auctions</h3>
      <div *ngIf="user.id"><button class="btn btn-primary btn-sm active"  id="sort" type="button" (click)="sortAuctions()">Sort By Distance</button></div>

      </div>

      <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="Start searching for an auction"
    id="searchbar"
      />
     </div>

</div>



<div class="container">


    <div *ngIf="bids">
      <br>
      <div
      (click)="onClick(bid)"
      className="scrollBox"
      *ngFor="let bid of bids | filter: searchText" id="a-card">
      <div div class="card w-75">
        <img src="{{ bid.imageUrl }}" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">{{ bid.name }} <span class="badge badge-secondary">{{ bid.kind }}</span></h5>
          <p class="card-text">{{ bid.description }} {{bid.distance}} m </p>
        </div>
      </div>
    </div>
    </div>
</div>

