<div class="header">

  <h1 id="welcome" *ngIf="user.id">    Welcome, {{ user.name }}!   </h1>


    <div class="jumbotron" id="frontpg">
      <div id="utility">
        <h3>Active Auctions</h3>
      <div *ngIf="user.id"><button class="btn btn-primary btn-sm active"  id="sort" type="button" (click)="sortAuctions()">Sort By Distance</button></div>

      </div>

      <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="Start searching for an auction"
    id="searchbar"
      />
     </div>

</div>



<div class="container">


    <div *ngIf="bids">
      <br>
      <div
      className="scrollBox"
      *ngFor="let bid of bids | filter: searchText" id="a-card">
      <div  (click)="onClick(bid)" class="card w-75" id="card-container">
        <div class="card-header" id="card-h">

          <div>
            <img  src="{{ bid.user.imageUrl }}" id="bid-user-img" >
            {{bid.user.name}} <p></p>
           </div>


          <div> <p style="color:#ff906b">#{{bid.id}}</p></div>


        </div>


        <img src="{{ bid.imageUrl }}" class="card-img-top" id="card-img" >
        <div class="card-body" id="card-b">
          <h5 class="card-title">{{ bid.name }}  <span class="badge badge-secondary">{{ bid.kind }}</span></h5>
          <p id="distance">{{bid.distance ? bid.distance : 0}}m away</p>
          <p class="card-text" id="card-txt">{{ bid.description }}</p>
        </div>
      </div>
    </div>
    </div>

    <button type="button" (click)="gotoTop()"id="top">⇧</button>
</div>

