.scrollBox {
  display: flex;
  border-width: 10px;
  outline-style: solid;
}

h4.scrollBox {
  font-size: 10px;
}

#activeBid {
  display: flex;
  flex-direction: column;
  background-color: mintcream;
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: teal;
  color: black;
}
#auctionName {
  text-align: center;
  font-weight: bold;
}
a.scrollBox {
  font-size: 30px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
