#flavor {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: medium;
  color: white;
}

.btn btn-primary btn-sm:focus {
  display: none;
}

#card-h {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgb(133, 133, 133);
  background-color: white;
}

#distance {
  font-size: 12px;
}

#bid-user-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#welcome {
  font-family: "Fredoka One", cursive;
  color: #ffb899;
}

#sort {
  border-width: 2px;
  background-color: #ffb899;
  border-color: white;
  margin-left: 10px;
}

#top {
  background-color: #ffb899;
  color: white;
  border: 1px;
  border-radius: 10px;
  font-size: 5px;
  font-family: "Fredoka One", cursive;
  position: fixed;
  bottom: 5px;
  right: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

#sort:hover {
  background-color: #ff906b;
}

#searchbar {
  width: 50%;
  margin-right: 10px;
}

#utility {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#frontpg {
  font-family: "Fredoka One", cursive;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  background: #ffb899;
  color: white;
}

.scrollBox {
  display: flex;
  border-width: 10px;
  outline-style: solid;
}

h4.scrollBox {
  font-size: 10px;
}

#activeBid {
  display: flex;
  flex-direction: column;
  background-color: mintcream;
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: teal;
  color: black;
}

#card-container {
  box-shadow: 5px 5px 5px #ffb899;
}

#card-b {
  font-family: "Open Sans", sans-serif;
}

#a-card {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 30px;
}

#card-img:hover {
  opacity: 0.8;
}

#card-img {
  height: 50%;
}

#card-txt {
  font-size: 12px;
}

#auctionName {
  text-align: center;
  font-weight: bold;
}
a.scrollBox {
  font-size: 30px;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

#btn {
  background-color: #ff906b;
  border: 0px;
  color: white;
  margin: 5px;
}
#btn:hover {
  background-color: #ffb899;
}
