<nav class="navbar navbar-light" >
  <a class="navbar-brand" routerLink="/home" id="home-logo">
    <img
      src="logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      class="d-inline-block align-top"
      alt=""
    />
    BettrBartr
  </a>
<div>
  <ul class="nav justify-content-end">
    <button class="btn btn-outline-primary" type="button" routerLink="/auction" id="ftpg2-btn">Create Auction</button>
    <div *ngIf="isLoggedIn; else elseBlock" >
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="ftpg2-btn">
          Options
        </button>
        <ul class="dropdown-menu dropdown-menu-right" >
          <li><a href="#" class="nav-link" routerLink="/profile/{{currentUser.id}}"  id="ftpg2-btn">Profile</a></li>
          <li> <a  href="#" class="nav-link" routerLink="/history"  id="ftpg2-btn">History</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" class="nav-link" (click)="onClick()" routerLinkActive="active"  id="ftpg2-btn">Logout</a> </li>
        </ul>
      </div>
      </div>
    <ng-template #elseBlock>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Options
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li> <a class="nav-link" routerLink="/signup"  id="ftpg2-btn">Signup</a> </li>
            <li role="separator" class="divider"></li>
            <li> <a class="nav-link" routerLink="/login"  id="ftpg2-btn">Login</a> </li>
          </ul>
        </div>
<div id="pad"></div>


    </ng-template>

  </ul>



</div>

</nav>

<div class="container" style="margin-top:30px">
  <router-outlet></router-outlet>
</div>
