<div>
  <br />
  <h3 id="transactions" style="font-family: Open Sans, sans-serif;   color: #ffb899"> My Transactions</h3>
  <hr />
  <div
    *ngIf="userAuctions.length === 0 && userOffers.length === 0; else elseBlock"
  >
    <div class="jumbotron" style="background-color: #ffb899; color: white;">
      <h1 class="display-4">You have not made any transactions</h1>
      <hr class="my-4" />
      <p>
        Click below to checkout the most recent auctions in your area
      </p>
      <a
        routerLinkActive="active"
        routerLink="/home"
        class="btn btn-primary btn-lg"
        role="button"
        id="btn"
        >Click here!</a
      >
    </div>

</div>

<ng-template #elseBlock>

  <div *ngIf="userAuctions.length !== 0">
    <div>
      <ul class="list-group">
        <li class="list-group-item active">
          <h4>Auctions</h4>
        </li>
        <li
          routerLinkActive="active"
          class="list-group-item"
          *ngFor="let auction of userAuctions"
          routerLink="/auction/{{ auction.id }}"
        >
          <h6>Auction {{ auction.name }} - created on {{ formatDate(auction.createdAt) }} <span class="badge badge-secondary" style="background-color: #ff906b;"
            >{{ auction.kind }}</span></h6>
          <small>{{ auction.type }}</small>
        </li>
      </ul>
    </div>
  </div>



  <div *ngIf="userOffers.length !== 0">
    <ul class="list-group">
      <li class="list-group-item active">
        <h4>Offers</h4>
      </li>
      <li
        class="list-group-item"
        *ngFor="let offer of userOffers"
        (click)="navigateToAuctionForOffer(offer)"
      >
        <h6>Offer {{ offer.name }} - created on {{ formatDate(offer.createdAt) }} <span class="badge badge-secondary" style="background-color: #ff906b;"
          >{{ offer.kind }}</span></h6>
      </li>
    </ul>
  </div>



</ng-template>

