<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="{{user.imageUrl}}" class="card-img-top" alt="...">
    <div class="btn-group">
      <button (click)="popUp()" routerLink="/updateUserInfo"type="button" class="btn btn-danger">
        Edit Info
      </button>

        <div *ngIf="clicked">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" ng-change="onUploadSuccess(event)">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>

      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p>Member Since: {{formatDate(user.createdAt)}}</p>
    </div>
  <h3>Currently Active Bids:</h3>
  <div>
    <div  *ngFor="let userAuction of userAuctions">
      <div div class="card h-100">
        <img src="{{ userAuction.imageUrl }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ userAuction.name }} <span class="badge badge-secondary">{{ userAuction.kind }}</span></h5>
          <p class="card-text">{{ userAuction.description }}</p>
          <button class="card-button" type="button" class="btn btn-danger" (click)="onClick(userAuction.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

