.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  padding-top: 15px;
}
.list-group {
  padding-left: 40px;
}

#btn {
  background-color: #ff906b;
  border: 0px;
  color: white;
}

#btn:hover {
  background-color: #ffb899;
}
