<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="{{user.imageUrl}}" class="card-img-top" alt="...">
    <div class="btn-group">
      <button (click)="popUp()" routerLink="/updateUserInfo"type="button" class="btn btn-danger">
        Edit Info
      </button>

        <div *ngIf="clicked">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" ng-change="onUploadSuccess(event)">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>

      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Name: {{user.name}}</h5>
      <p>Email: {{user.email}}</p>
      <p>Phone Number: {{user.phoneNumber}}</p>
      <p>Member Since: {{formatDate(user.createdAt)}}</p>
    </div>
</div>

