

<form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">
 <table>
  <label>What's the name of the item or service that you'd like to auction?</label>
  <input type='text' placeholder="item" formControlName='item'>
  <div></div>
  
  <label>Give bidders a brief description</label>
  <input type='text' placeholder="description" formControlName='description'>
 <p>I would classify this as a:</p>
  <div ><label class="container">Item
    <input type="checkbox" >
    <span class="checkmark"></span>
  </label>
  
  <label class="container">Service
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
</div>
  <button type='submit'>Submit</button>
 </table>
</form>


